:root {
  --largeur-libelle-contact: 200px;
}

footer h2 {
    margin-top: 20px;
}

footer h2.suivant {
    margin-top: 50px;
}

footer .w3-row .w3-container {
    height: 475px;
}

footer i.sociaux {
    margin-right: 10px;
}

footer form .ligne-formulaire {
    display: grid;
    grid-template-columns: var(--largeur-libelle-contact) 1fr;
}

footer textarea {
    height: 100px;
}

footer form .message-erreur-formulaire {
    margin-left: var(--largeur-libelle-contact);
    color: red;
    margin-block-start: 3px;
    font-size: 0.8em;
    width: 100%;
}

footer .propulse {
    margin-bottom: 16px;
}
